@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Song+Myung&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin-top: 150px;
  background-color: #fdafdb8f;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 600px;
  margin: auto;
}

/* 시계 */
.css-clocktitle {
  text-align: center;
  font-size: 100px;
  font-family: "Song Myung", serif;
  font-weight: bold;
  color: white;
  margin: 0 0 0 0;
}

/* 이름 */
.css-name {
  /* margin: 30px 0px 30px 0px; */
}

.css-nameform {
  width: 25vw;
  height: 50px;
  text-align: center;
  font-family: "Song Myung", serif;
  font-size: 30px;
  border-style: none;
  background-color: rgba(250, 246, 246, 0.342);
  border-radius: 10px;
  margin: 100px 0px 100px 0px;
}

.css-name input::placeholder {
  color: black;
}

.css-greeting-text {
  text-align: center;
  font-size: 50px;
  font-family: "Song Myung", serif;
  color: white;
  margin: 80px 0px 30px 0px;
}

/* todo리스트 */
.css-todo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.css-todoform {
  width: 35vw;
  height: 50px;
  background-color: transparent;
  font-family: "East Sea Dokdo", cursive;
  font-size: 40px;
  text-align: center;
  color: white;
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.411);
}

.css-todo input::placeholder {
  color: rgba(255, 255, 255, 0.774);
}

.css-todolist {
  width: 30vw;
  list-style: none;
  padding-right: 35px;
  font-family: "East Sea Dokdo", cursive;
  font-size: 25px;
  text-align: center;
  color: white;
}

/* 날씨 */
.css-weather {
  width: 20vw;
  text-align: center;
  font-family: "Song Myung", serif;
  font-size: 20px;
  color: rgb(51, 51, 51);
}

.js-form,
.js-greeting {
  display: none;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgimage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
